body {
  margin-top: 1.0em;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #fff;
  background: #465164 url(images/fallback-gradient.png) top center no-repeat;
  background-image: -webkit-radial-gradient(top, #aaa, #465164);
  background-image: -moz-radial-gradient(top, #aaa, #465164);
  background-image: -ms-radial-gradient(top, #aaa, #465164);
  background-image: -o-radial-gradient(top, #aaa, #465164); 
	text-shadow: 1px 1px 1px #333;
}

#container {
  margin: 0 auto;
  width: 960px; }

h1 {
	font-family: 'Coustard', serif;
  font-size: 3em;
	color: #fff;
  margin-bottom: 3px; 
	text-shadow: 1px 1px 1px #333;
	}

h1 a, h2.zr a {
  text-decoration: none; 
	color: #fff;
}

h2.zr a {
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
}

h1 a:hover, h2.zr a:hover {
	text-decoration: underline;
	color: #fff;
}

h2 {
	font-family: 'Coustard', serif;
  font-size: 1.5em;
  color: #168216; }

h3 {
  text-align: center;
  color: #168216; }

p {
	text-shadow: 1px 1px 1px #333;
}

a {
	color: #168216;
}

a:hover {
  text-decoration: underline; 
	color: #039603;}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic; }

.download {
  float: right; }

pre {
  background: #333;
  color: #fff;
  padding: 15px;
  box-shadow: 3px 3px 1px #555; }

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa; }

.footer {
  text-align: center;
  padding-top: 30px;
  font-style: italic; }
